@media all {
.widthboton { -webkit-flex: 1 1 auto !important; -moz-flex: 1 1 auto !important; -ms-flex: 1 1 auto !important; -o-flex: 1 1 auto !important; flex: 1 1 auto !important;   width:80%;
  min-width:80%;
  max-width:80%;
}

}

